.button {
  min-width: 180px;
  width: 50px;
  height: 30px;
  letter-spacing: 0.5px;
  line-height: 30px;
  padding: 0 20px 0 20px;
  margin-top: 10px;
  font-size: 12px;
  border-radius: 10px;
  background-color: #008060;
  color: white;
  text-transform: uppercase;
  font-family: "formula1-display-regular";
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  @media screen and (max-width: 800px) {
    font-size: 10px;
    margin: auto;
    margin-top: 10px;
  }

  .disable {
    opacity: 0.3;
    filter: alpha(opacity = 60);
  }
}

.submit {
  min-width: 180px;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 20px 0 20px;
  margin-top: 10px;
  font-size: 12px;
  border-radius: 10px;
  background-color: #008060;
  color: black;
  text-transform: uppercase;
  font-family: "formula1-display-regular";
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  @media screen and (max-width: 800px) {
    font-size: 10px;
    margin: auto;
    margin-top: 10px;
  }

  .disable {
    opacity: 0.3;
    filter: alpha(opacity = 60);
  }
}
