.profile {
  font-size: large;
  margin-top: 8em;

  .top {
    margin: 100px;
    .column-left {
      float: left;
      width: 40%;
      img {
        width: 10vw;
        border-radius: 50%;
      }
      @media only screen and (max-width: 800px) {
        float: none;
        display: block;
        width: 100%;
        font-size: medium;
      }
    }

    .column-right {
      float: right;
      width: 60%;
      .movie-info {
        margin: 20px;
        img {
          width: 150px;
        }
      }
      @media only screen and (max-width: 800px) {
        float: none;
        display: block;
        width: 100%;
        font-size: medium;
      }
    }

    width: 100%;
    position: absolute;
    bottom: 30%;
  }

  .contact {
    margin-top: 50px;
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0;
  }
}
