.isLoading {
  opacity: 0.5;

  .lds-ellipsis {
    display: block;
    top: 40%;
    left: 50%;
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 10;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 30%;
    background: rgb(56, 21, 138);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
}

.nomination-page {
  #snackbar {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    text-align: center;
    margin: auto;
    bottom: 30%;
    left: 37%;
    z-index: 10;
    font-size: 20px;
  }

  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  @-webkit-keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 30%;
      opacity: 1;
    }
  }

  @keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 30%;
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeout {
    from {
      bottom: 30%;
      opacity: 1;
    }
    to {
      bottom: 0;
      opacity: 0;
    }
  }

  @keyframes fadeout {
    from {
      bottom: 30%;
      opacity: 1;
    }
    to {
      bottom: 0;
      opacity: 0;
    }
  }

  .column-left {
    float: left;
    width: 50%;
    @media only screen and (max-width: 800px) {
      float: none;
      display: block;
      width: 100%;
    }
  }

  .column-right {
    float: right;
    width: 50%;
    @media only screen and (max-width: 800px) {
      float: none;
      display: block;
      width: 100%;
    }
  }

  .nomination-list {
    margin-left: 10vw;
    margin-right: 5vw;
    text-align: left;
    padding: 20px;
    display: block;

    z-index: 5;
    @media only screen and (max-width: 800px) {
      margin: 10px;
      display: block;
      float: none;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  .movie-list {
    margin-left: 10vw;
    margin-right: 0px;
    text-align: left;
    padding: 20px;
    display: block;
    @media only screen and (max-width: 800px) {
      margin: 10px;
      display: block;
      float: none;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}
